body {
    background-color: #eeeeee; 
}

.LoginPad {
    width: 400px;
}

.headPanel {
    min-width: 400px;
    padding: 5px;
    background-color: #000000;
}

.uploadBlock{
    width: 600px;
    display: inline-block;
}

.hide{
    display:none;
}

.whiteOnBlack{
    font-size: 20px;
    color: #ffffff;
}

#lUsername{
    margin-right: 10px;
}

#iModelname{
    width: 350px;
}

.modelBox{
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    margin: 20px auto;
}

.modelBox div{
    margin-bottom: 10px;
}

.editBoxList {
    border: 1px solid black;
    padding: 5px;
}

.editBox .editBoxItem:nth-child(even) {
    background-color: #eeeeee;
}