body {
  margin: 0px;
  overflow: hidden;
}

.container {
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0;
	min-height: 200px;
	min-width: 200px;
}

.container .topbutton{
	position: absolute; 
	right: 1%; 
	top: 1%;
}

.infobox {
	position: absolute;
	min-width: 100px; min-height: 20px;
	background-color: #fcf8cd;
	padding: 2px;
	border: 1px solid grey;
}

#container{
	float:left;
}

#exitButton{
	position: absolute; 
	left: 200px; 
	visibility: hidden;
}

#refreshButton{
	position: absolute; 
	left: 100px; 
	visibility: hidden;
}