<!DOCTYPE html>
<html ng-app="objViwer">
<head>
	<title>Object-viewer</title>
	<meta charset="UTF-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/main.css">


	<script src="js/jquery-3.1.1.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootbox.min.js"></script>
	<script src="js/gui/objViwer.js">/* Do Magic */</script> 

	<script type="text/javascript">
		$( document ).ready(function() {
		   $("#javablock").remove();
		});
	</script>

</head>
<body>
<div id="javablock">
	<p>[Javascript blocked] Es wird Javascript benötigt auf dieser Website! Bitte erleuben Sie die Nutzung von Javascript!</p>
</div>
<div id="content" ng-controller="loginController as objLogin" class="">
	<div ng-hide="objLogin.userData != null" class="">
	    <form name="loginform" class="LoginPad center-block">
	    	<div class="form-group">
	    		<h3>Login:</h3>
	    	</div>
	    	<div class="form-group">
		        <input type="text" id="iNutzername" name="username" placeholder="Nutzername" ng-model="objLogin.username" class="form-control" required></input>
			</div>
			<div class="form-group">
	        	<input type="password" id="iPassword" name="password" placeholder="Passwort" ng-model="objLogin.userpassword" class="form-control" required></input>
	        </div>
			<div class="form-group">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="autologin" name="autologin" value="autologin" ng-model="objLogin.autologin"/> Remember me
		        </label>
		      </div>
			</div>
			<input type="submit" ng-click="objLogin.loginWithData()" value="Einloggen" class="btn btn-primary "></input>
	    </form>
    </div>
	<div ng-show="objLogin.userData != null" class="">
		<div class="headPanel clearfix form-inline">
			<div class="uploadBlock form-group">
			    <div class="form-group">
			    	<label class="whiteOnBlack">Upload New Model :</label>
			    </div>
			    <div class="form-group">
				    <form id="modelUpload" action="modelUpload.php" method="post" enctype="multipart/form-data" class="">
						<div class="form-group">
							<label class="btn btn-primary btn-file">
								<input class="hide" type="file" id="fileToUpload" name="fileToUpload[]" multiple="multiple" onchange="$('#upload-file-info1').html('Anzahl : '+$(this)[0].files.length);" required />
								Wähle eine oder mehrere Datein aus. 
							</label>
							<span class='label label-info' id="upload-file-info1"></span>
						</div>
						<input type="submit" value="Upload" class="btn btn-success"/>
						<span class='label label-info' id="upload-file-info1"></span>
					</form>
				</div>
			</div>
		    <div id="userinfo" class="pull-right form-group">
		    	<label id="lUsername" class="whiteOnBlack"> {{objLogin.userData.Username}} </label>
		    	<input type="button" ng-click="objLogin.logout()" value="Ausloggen" class="btn btn-danger"></input>
		    </div> 
		</div>
		<div ng-controller="objViwerController as objViwer" class="container">
			<div ng-hide="objViwer.models != null" class="ng-hide">
				<img alt="lodingSVG" src="gui/loading.svg">
			</div>
			<div ng-repeat="model in objViwer.models" class="modelBox">
				<div class="form-inline clearfix">
					<input class="form-group form-control pull-right btn btn-danger" type="button" ng-click="objViwer.deletModel(model)" value="Modell Löschen"></input>
					<h4>Model Name : </h4> 
					<input class="form-group form-control" id="iModelname" type="text" ng-model="model.DB.modelName" ng-disabled="model.dName" />
					<input class="form-group btn btn-default" type="button" ng-show="model.dName" ng-click="model.dName = false" value="Edit"></input>
					<input class="form-group btn btn-success" type="button" ng-hide="model.dName" ng-click="objViwer.saveName(model)" value="Save"></input>
				</div>
				<div>
					<h4>Aktionen</h4>
					<a role="button" class="btn btn-primary" href="./modelviewer.html?modelId={{model.DB.modelId}}&modelname={{model.DB.modelName}}">Öffne Model in 3D-Viewer</a>
					<a role="button" class="btn btn-info" href="./getFile.php?modelId={{model.DB.modelId}}">Download</a>
				</div>
				<div>
					<h4>Freigabe</h4>
					<input type="button" class="btn btn-default" ng-click="objViwer.generateNewAccesKey(model)" value="Modell freigeben"></input>
						<input type="button" class="btn btn-danger" ng-click="objViwer.deletAccesKey(model)" value="Freigabe entfernen" ng-show="model.DB.modelAcceskey != null"></input>
						<a href="./modelviewer.html?modelAcceskey={{model.DB.modelAcceskey}}&modelname={{model.DB.modelName}}" ng-show="model.DB.modelAcceskey != null">Freigabe Link</a>
				</div>
				<div>
					<h4>Model bearbeiten</h4>
					<button class="btn btn-default" ng-click="model.edit ? model.edit=false : model.edit = true" ng-init="model.edit = false">Ausklappen</button>
				</div>
				<div ng-show="model.edit == true" class="editBox">
					<div class="editBoxList">
						<div ng-repeat="file in model.Files" class="editBoxItem">
							<label>{{file}}</label>
							<input type="button" class="btn btn-danger pull-right" ng-click="objViwer.deletFile(model, file)" value="Delete"></input>
						</div>
					</div>
					<h4>Weiter Datein hinzufügen</h4>
					<form id="modelUpload" action="modelUpload.php" method="post" enctype="multipart/form-data">
						<label class="btn btn-primary btn-file">
							<input type="hidden" name="modelId" value="{{model.DB.modelId}}">
							<input type="file" class="hide" id="fileToUpload" name="fileToUpload[]" multiple="multiple"/>
							Datein auswählen
						</label>
						<input type="submit" class="btn btn-success" value="Upload"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>