.treeCell {
    background-color: transparent;
    height: 50px;
    color:black;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    border-style: solid;
    border: transparent;
    border-bottom: thin dotted #000000;

    height: 50px;
    line-height: 50px;
    white-space: nowrap;

}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


#treeViewContainer {
    width: 380px;
    float: right;
    height:100vh;
    display:inline-block;
    overflow-y:auto;
}